.array-container {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.buttons {
  margin-top: 5px;
  margin-bottom: 5px;
}

.array-bar {
  background-color: turquoise;
  display: inline-block;
}

.generateArray {
  padding: 5px;
}

.sort {
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}
